.block{/*маркировка блока*/
      background: #fff1e3;
      border: 1px solid #000;
  }
.block2{/*маркировка блока*/
    background: #ffdfa9;
    border: 1px solid #000;
}
.form-block{/*маркировка блока*/
    background: #F5F5F5;
    border: 1px solid #000;
}
.bookmarks-block{/*маркировка блока*/
    background: #cfccc0;
    border: 1px solid #000;
}
.gold {/*маркировка блока*/
    background: rgba(255, 253, 65, 0.39);
    border: 1px solid #000;
}
.green {/*маркировка блока*/
    background: rgba(102, 255, 80, 0.4);
    border: 1px solid #000;
 }
.white {/*маркировка блока*/
    background: #F5F5F5;
    border: 1px solid #000;
}

.custom-link {
    color: #1b1e21;
}
* {
    margin: 0;
    padding: 0;
}
html,/*прижатие футтера вниз*/
body {
    height: 100%;
}
.p-wrapper {
    display: flex;
    flex-direction: column;
    height: 80%;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex: 0 0 auto;
}

.vk {
    color:#5E81A8;
}

.parent {
    text-align: center;
}
.language-parent {
    text-align: right;
}
.child {
    display: inline-block;
}
.login-parent {
    position: relative;
}
.login-child {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ru-flag
{
    background: url(../images/ru.jpg) no-repeat center ;
    background-size: 42px 42px;
    width: 40px;
    height: 40px;
    content: "";
}
.en-flag
{
    background: url(../images/uk.jpg) no-repeat  center;
    background-size: 53px 53px;
    width: 40px;
    height: 40px;
    content: "";
}

.by-flag
{
    background: url(../images/belarus-flag.jpg) no-repeat center;
    background-size: 42px 42px;
    width: 40px;
    height: 40px;
    content: "";
}


.film-button {/*скрытая кнопка с пунктиром*/
    border: 0;
    background-color: rgba(0,0,0,0);
    margin: unset;
    cursor: pointer;
    border-bottom: dashed 1px;
}
.star-rating {/*рейтинг*/
    line-height:32px;
    font-size:1.25em;
}

.star-rating .fa-star{color: yellow;}

.red-line {
    text-indent: 25px;/*добавление красной строки*/
}

.file-upload {
    position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
    overflow: hidden; /* Все что выходит за пределы — скрываем */
    width: 20%; /* Задаем ширину кнопки выбора файла */
    height: 40px; /* Задаем высоту кнопки выбора файла */
    background: #00BFFF;
    border-radius: 3px;
    padding: 8px 4px;
    color: #fff;
    text-align: center;
}
.file-upload:hover {
    background: #1E90FF;
}
.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
    /* Растягиваем label на всю возможную площадь блока .file-upload */
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.file-upload span {
    line-height: 36px; /* Делаем вертикальное выравнивание текста, который написан на кнопке */
}

.filename {
    background: #fff;
    border: 0;
}

.delete{
    box-shadow: 0 -3px 0 0 hsla(0, 0%, 0%, 0.2) inset;/*внутрення тень*/
    transition: all 0.6s;/*плавный эффект перехода*/
}
/*стили кнопки при наведении курсора мыши на нее*/
.delete:hover {
    background: rgba(110, 107, 74, 0.33);/*другой цвет фона*/
    box-shadow: 0 3px 0 0 hsla(0, 0%, 0%, 0.2) inset;/*расположение тени сверху*/
    cursor: pointer;
}

input:required {
    border: 1px solid #ffc107;
}

label.required:after
 {
     color: red;
     content: " *";
 }
